﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div>
        <h1>Cansu ATALAY</h1>
        <h1>G151210034</h1>


    </div>*@
<!-- NAV SECTION -->
<div class="navbar navbar-inverse navbar-fixed-top">

    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"> DUNYAKLASIKLERI</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#home-sec">ANASAYFA</a></li>
                <li><a href="#projects">Hangiurun?</a></li>
                <li><a href="#about">Kaydol</a></li>
                <li><a href="#contact">uyegirisi</a></li>
               
            </ul>
        </div>

    </div>
</div>
<!--END NAV SECTION -->
<!--HOME SECTION-->

<div id="home-sec">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <div id="carousel-example" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="item active">

                            <img src="~/Resources/1.jpg" alt="" />
                            <div class="carousel-caption">

                            </div>
                        </div>
                        <div class="item">
                            <img src="~/Resources/2.jpg" alt="" />
                            <div class="carousel-caption ">

                            </div>
                        </div>
                        <div class="item">
                            <img src="~/Resources/3.jpg" alt="" />
                            <div class="carousel-caption ">

                            </div>
                        </div>
                    </div>

                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example" data-slide-to="1"></li>
                        <li data-target="#carousel-example" data-slide-to="2"></li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
</div>


<section>
    <div class="container">


        <div class="row text-center">
            <div class="col-md-4 col-sm-4  icon-big">
                <i class="fa fa-fax fa-4x"></i>


                @*<h1>Awesome Service </h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-4  icon-big">
                        <i class="fa fa-tree fa-4x"></i>
                        <h1>24x7 Support </h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-4  icon-big">
                        <i class="fa fa-lock fa-4x"></i>*@
                @*<h1>Unique Design </h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>*@
            </div>
        </div>


    </div>
</section>

<!--END HOME SECTION-->


<div class="container">
    <div class="row text-center">
        <span class="line-sep ">
            ----------X------------X----------X-------------
        </span>
    </div>
</div>

<!--PROJECTS SECTION-->

<section id="projects">
    <div class="container">
        <div class="row text-center">
            <div class="text-center">
                <div class="col-md-4 col-sm-4 alert-info">
                    <h4>SUÇ VE CEZA</h4>
                    <img src="~/Resources/5.jpg" alt="" />

                    <p>
                        KONU:
                        Fakir bir genç olan Raskolnikov, başarılı olmasına rağmen hukuk fakültesini maddi sebeplerden ötürü yarıda bırakmak zorunda kalmıştır.
                        Para, parayla ne yapılacağını bilmeyen, insanlık ailesine parazit olan aşağılık insanların elinde iken, toplumun gelişmesine büyük
                        katkılar sağlayabileceklerin para sıkıntısı çekmesinin yanlış olduğunu düşünmektedir. Bu yanlışlığı düzeltmek üzere yaşlı ve zengin
                        bir kadın tefeciyi ve görgü tanığı bırakmamak için onun kız kardeşini öldürür. Kimsenin kendisini görmediğini ve geride çok büyük bir
                        olasılıkla bir iz kalmadığını bildiği halde, bazı tesadüflerin sonucunda Raskolnikov müthiş bir tedirginlik içine düşer. İnsanlığını,
                        masumiyetini yitirmiştir. Temiz kalpli ve fedakar Sonya'ya suçunu itiraf eden Raskolnikov, polise de teslim olur ve cezasını çekmek üzere Sibirya'ya gider.
                    </p>

                </div>



                <div class="col-md-4 col-sm-4 text-center">
                    <h4>SEFİLLER</h4>
                    <img src="~/Resources/6.jpg" alt="" />
                    <p>
                        Jean Valjean ekmek çaldığı için beş yıl kürek cezasına çarptırılmış, birkaç kez kaçmaya kalkıştığı için cezası ağırlaşmış, on dokuz yıl hapiste kalmıştır.
                        Çok kuvvetli bir insan olan Jean Valjean, hapiste iyi duygularını kaybetmiş gibidir.
                        Hapisten çıkınca, mahkûm olduğunu gösteren belge yüzünden herkes ona kötü davranır.
                        Bir piskopos onu evine alır, o ise evden gümüş takımları çalar, fakat yakalanır.
                        Piskopos, şikayetçi olmaz, üstelik ona iki de gümüş şamdan hediye eder; onlardan
                        elde edeceği parayı namuslu adam olma yolunda harcamasını ister.Son olay, Jean Valjean’ın
                        yaşamında bir dönüm noktası olur. Madeleine adıyla iş hayatına atılır, zengin olur, belediye
                        başkanı seçilir. Fantin adında düşmüş
                    </p>
                    &nbsp;&nbsp;
                </div>

                <div class="col-md-4 col-sm-4 text-center">
                    <h4>SAVAŞ VE BARIŞ</h4>
                    <img src="~/Resources/7.jpg" alt="" />
                    <p>
                        Savaş ve Barış Rus yazar Lev Tolstoy tarafından yazılmış ve ilk kez 1869 yılında yayınlanmış roman.
                        Roman dünya edebiyatının en önemli başarılarından ve önemli eserlerinden biri olarak değerlendirilir.
                        "Savaş ve Barış" Rusya'nın Fransa tarafından istilası döneminde yaşanmış olayları ve Napoleon döneminin
                        Rusya'da Çar toplumuna etkisini, bu etkinin doğurduğu sonuçları beş asil aileden örnekler vererek tarif etmektedir.
                        Romanın ilk sürümü 1865 - 1867 - yıllarda "Rus Haberci" gazetesinde dizi halinde "On yıl 1805"adı ile yayınlandı.
                        Tolstoy , eser hakkında biraz karışık ifade ile, "Savaş ve Barış" "roman değil, bir manzume, daha çok ise, tarihi günlüklerdir" demiştir.
                        Romanın bazı bölümleri ise tasvircilikten tamamen uzak olmakla, felsefi vatanperverlik karakteri taşır
                    </p>

                </div>


                <div class="col-md-4 col-sm-4 text-center">
                    <h4>FARELER VE İNSANLAR</h4>
                    <img src="~/Resources/11.jpg" alt="" />
                    <p>
                        Fareler ve İnsanlar, (İngilizce: Of Mice and Men), Nobel Edebiyat Ödülü sahibi yazar John Steinbeck tarafından yazılmış bir roman.
                        İlk defa 1937 yılında yayınlanan eser, iki gezgin çiftlik işçisi olan George Milton ve Lennie Small'un büyük bunalım sırasında Kaliforniya'da
                        yaşadıkları trajik olayları anlatır.
                        1920'lerde kendisi de evsiz gezici bir çiflik işçisi olan Steinbeck'in kendi deneyimlerine dayanan novellasının başlığı, Robert Burns'ün To a Mouse
                        (Bir Fareye) isimli şiirinden alınmıştır. Scots dilinde yazılan şiirin sıkça alıntılanan iki dizesi şöyledir: "The best laid schemes o' mice an' men/Gang
                        aft agley (En iyi planları farelerin ve insanların/Sıkça ters gider").
                        ABD'de orta öğretimde okunması zorunlu kitaplardan biri olan Fareler ve İnsanlar, karakterlerinin saldırgan ve bayağı dili sebebiyle sıkça sansüre hedef olmuş,
                        bu yüzden de American Library Association tarafından 21. yüzyılın en fazla sorgulanan kitapları arasında gösterilmiştir.
                    </p>
                    &nbsp;&nbsp;
                </div>
                <div class="col-md-4 col-sm-4 text-center">
                    <h4>DÖNÜŞÜM</h4>
                    <img src="~/Resources/8.jpg" alt="" />
                    <p>
                        Gregor Samsa öykünün ana karakteridir. Ailesinin geçimi için gezici bir pazarlamacı olarak ağır bir şekilde çalışmaktadır.
                        Bir sabah büyük bir böcek olarak uyanır.
                        Grete, Gregor'un küçük kız kardeşi ve dönüşümden sonra bakıcısıdır. Başlarda Grete ve Gregor'un iyi bir ilişkisi vardır ancak
                        zamanla bu ilişki azalır. En başta onu beslemek ve odasını temizlemek için Grete gönüllü olsa da öykü ilerledikçe daha sabırsız olup,
                        inadına ve kasıtlı bir biçimde odaya pis yemekler getirir. Grete, keman çalar ve konservatuvara gitme hayalleri kurar. Gregor da, bu
                        hayali gerçekleştirmek için çalışmaktaydı ve Noel arifesinde bunu açıklayacaktı.
                    </p>

                    &nbsp;&nbsp;
                </div>

                <div class="col-md-4 col-sm-4 text-center">
                    <h4>BEYAZ DİŞ</h4>
                    <img src="~/Resources/9.jpg" alt="" />
                    <p>
                        Beyaz Diş veya orijinal adıyla White Fang, (1909) Jack London'un bir romanıdır.
                        Roman ilk kez seri halinde, 1906 mayısından, ekimine kadar The Outing Magazine adlı dergide yayınlanmıştır.
                        Kitap birçok dile çevrilmiş ve birçok yayınevi tarafından yayımlanmıştır.Kitaptaki yerler Rusya,Kanada ve
                        Amerika'da bulunmaktadır.Karanlık ladin ağaçları ormanı, donmuş nehrin her iki yakasında yer alıyordu. Arazi
                        öylesine cansız, ıssız ve soğuktu ki hüzün kelimesi bile onu tanımlamada yetersiz kalıyordu. Sessizlik her yanı sarmıştı.
                        Ama yine de bu uzak yabani topraklarda dirençli bir yaşam vardı. Görünümleriyle kurttan farksız bir köpek sürüsü donmuş nehir
                        boyunca ilerliyordu. Hayvanların sık tüylü postları buz tutmuştu. Solukları havayla karışınca buharlaşıyor, sonra incecik buz
                        taneciklerine dönüşüp tüylerine yapışıyordu. Deri koşumları, yine deri kayışlarla peşleri sıra sürükledikleri bir kızağa bağlanmıştı
                    </p>
                    &nbsp;&nbsp;
                </div>

                <div class="col-md-4 col-sm-4 text-center">
                    <h4>SATRANÇ</h4>
                    <img src="~/Resources/10.jpg" alt="" />
                    <p>
                        Hikaye New York'tan Buenos Aires'e yolculuk yapan bir deniz vapurunda yaşanır.
                        Bir grup yolcu gemideki kurgusal satranç şampiyonu Mirko Czentovic'i partiye davet eder.
                        İlk partiyi beklendiği gibi rahatlıkla şampiyon kazanır. Yine kaybedilmekte olan rövanş
                        partisinin ortasında, oyuna Dr. B. adında bir başka yolcu daha katılır ve bir beraberlik kurtarır.
                        Bunun üzerine yolcular tarafından Czentovic ile Dr. B arasında bir müsabaka organize edilir.
                        Müsabaka başlamadan Dr. B. kitapta hikâyeyi anlatana satrancı nasıl öğrendiğini bildirir.
                        Gestapo tarafından bir otel odasında aylarca hücre hapsine kapatılmışken, bir sorgulama öncesi
                        bekletildiği odanın duvarında asılan montun cebindeki satranç kitabını çalmayı başarmıştır.

                    </p>
                    &nbsp;&nbsp;
                </div>

                <div class="col-md-4 col-sm-4 text-center">
                    <h4>VADİDEKİ ZAMBAK</h4>
                    <img src="~/Resources/12.jpg" alt="" />
                    <p>
                        Honoré de Balzac'ın en bilinen kitaplarından biridir. Kocasıyla mutlu olmayan Henriette'le,
                        kendisinden çok daha genç olan Felix'in imkânsız aşkını anlatan kitap, MEB'in 100 Temel Eser'i arasındadır.
                        Eser 18 yy. Fransa'sındaki, devrim sonrası, toplumsal hayat hakkında da ipuçları içermekte, duygusal bir
                        yakınlaşmayı anlatmaktadır. Yeşil vadiler, sık ormanlar arasındaki güzel şatolar tüm gerçekçiliği ile tasvir ediliyor.
                        Ustanın, yeteneğini tümüyle gösterdiği romanı olarak da bilinir. Balzac, acı ve ızdırabı en hissedilir şekilde
                        romanına yansıtmıştır. Başka bir gözden aşkın ızdıraplı yüzünü, roman severlere çok iyi yansıtmış ve de özgün anlatımıyla
                        okuyucuların gözüne girmiştir. Ayrıca kişi ve yer tasvirlerinde büyük ustalıkla okuru olayın kurgusunun içine sürüklemiştir.
                        Romanda, 18. yy. ailesi tarafından çeşitli itilişlere maruz kalan bir gencin zamanla hayatında olan değişimleri ve ilerde tanıştığı
                        bir kadına olan bağlılığı anlatılıyor.
                        Vadideki Zambak kitabı Balzac'ın kendi hayatından kesitlere yer verdiği bilinmektedir. Balzac tarzı harikulade tasvirlerle kitabı okurken, o dönemi bire bir yaşıyorsunuz.

                    </p>
                </div>
                <div class="col-md-4 col-sm-4 text-center">
                    <h4>YERALTINDAN NOTLAR</h4>
                    <img src="~/Resources/13.jpg" alt="" />
                    <p>
                        Yeraltından Notlar (Rusça: Записки из подполья, Zapiski iz podpolya), Dostoyevski'nin, Camus dahil olmak üzere birçok Batılı
                        düşünürü varoluşçu anlamda etkilemiş bir klasik olarak kabul edilen kısa romanıdır. 1864 yıında Petersburg'da basılmıştır.
                        Yeraltından Notlar, gerçek dünyadan kendini soyutlamış veya buna zorunlu kalmış bir kişinin iç çatışmalarını ve hezeyanlarını
                        ana eksen olarak belirler. Yeraltı Adamı'nın monoloğu ve ünlü "Ben hasta bir adamım." ifadesi ile romana giren Dostoyevski bu
                        romanıyla sonraki döneminin büyük eserlerine bir giriş yapar.
                        Yeraltından Notlar, modernite eleştirileri için erken sayılabilecek bir yılda, 1864'te, Rusya'da köleliğin feshedildiği 1861'den
                        üç yıl sonra basılır. Köleliğin kaldırılması ile Rusya'da yeni bir havanın estiği bilinmektedir. Ancak Dostoyevski'nin karakteri ayrı
                        bir alemdedir. İçerdiği temalar Rus edebiyatına dışsal olarak görülse de Rus düşünsel yaşamına dışsal değildir, ancak çoğuna ters bir yanıttır.
                    </p>
                </div>

                <div class="col-md-4 col-sm-4 text-center">
                    <h4>OLİVER TWİST</h4>
                    <img src="~/Resources/14.jpg" alt="" />
                    <p>
                        Oliver twist bir yetimhanede dünyaya gelir. 9 yaşına geldiğinde onu farklı bir yetimhaneye götürürler. Bir yetimhanede büyüyen yetim
                        Oliver Twist ve diğer çocuklar, açlık çekmektedir. Daha fazla çorbayı kimin isteyeceğini belirlemek için aralarında tartışırlar. Oliver seçilir.
                        O akşamki yemekte her zamanki yemek paylaşımından sonra Oliver, yetimhane müdürüne yaklaşır ve daha fazlasını istediğini söyler. Yetimhane müdürü Mr. Bumble,
                        Oliver’ı bir “sorun çıkarıcı” olarak nitelendirmiştir ve yetimhane kurulu oliverı alacak kişiye para verileceğini duyururlar ve tabutçu birinin yanına çırak olarak vermeye karar verirler.
                        Baca temizleyici (Küçük çocukların bacaların içine sarkıtıldığı ve genellikle zehirlenerek öldüğü tehlikeli bir iş) olmaktan son anda kurtulan Oliver, her gün yemek yiyen
                        diğer arkadaşlarının gözü önünde fırçalanarak dövülerek diğer arkadaşlarına akıllı durmaları için gözlerini korkutmuştur. Neyse ki cenaze levazımatçısı Mr. Sowerberry’nin yanına
                        çırak olarak verilir. Bir başka çırak olan Noah Claypole tarafından ölmüş olan annesiyle ilgili olarak kışkırtılır ve kavgaya tahrik edilir. Haksız yere dövülür ancak kaçmayı başarır ve Londra’nın yolunu tutar.
                    </p>
                </div>

                <div class="col-md-4 col-sm-4 text-center">
                    <h4>ROBİNSON CROUISE</h4>
                    <img src="~/Resources/15.jpg" alt="" />
                    <p>
                        Robinson Crusoe, Daniel Defoe'nun 1719 yılında ilk basımı yapılan ve bazılarınca ilk İngilizce roman olarak nitelendirilen kitabıdır.
                        Kitap İngiltere'de yaşayan Alman asıllı orta halli bir ailenin en küçük oğlu olan Robinson Crusoe'nun babasının tüm itirazlarına rağmen, dünyayı gezme hayalleri ile
                        çıktığı yolculukları ve bu sırada karşılaştığı olayları anlatır. Bu yolculuklar içinde ıssız bir adada 28 senesini son üç yılı hariç yalnız geçirir.
                        Kitabın orijinal adı bir başlığa göre oldukça uzun sayılabilecek şekilde basılmıştır: York'lu Bir Denizcinin, Kendi Kaleminden, Deniz Kazası ile Düştüğü
                        Amerika Sahillerindeki Oroonoque Nehri Ağzındaki Issız Bir Adada 28 Yılını Geçirirken Yaşadığı Serüvenler ve Korsanlar Tarafından Kurtarılması.
                        Romanın edebiyat seviyesinin düşüklüğü hakkında çeşitli eleştiriler yapılmış olmasına rağmen, etkileyici konusu ve serüvenleri ile Batı'nın sömürge tarihi
                        ve felsefesi anlatılır. Anlatım basit cümlelerle kısa kısa, olay akışının verilişi şeklindedir. Bu yapı içerisinde adadaki yaşamın detayları ve bunların arasında
                        Robinson'un iç konuşmaları ve o anki duygu dünyası yansıtılır.
                    </p>
                </div>

                <div class="col-md-4 col-sm-4 text-center">
                    <h4>İKİ ŞEHRİN HİKAYESİ</h4>
                    <img src="~/Resources/16.jpg" alt="" />
                    <p>
                        İki Şehrin Hikayesi, Charles Dickens'ın 1859 yılında gazetelerde tefrika edilmek üzere yazdığı, konusu Fransız Devrimi esnasında ve öncesinde Paris ve Londra'da
                        geçen romandır. 200 milyonun üzerindeki satışı ile tüm zamanların en meşhur edebiyat eserleri arasındadır.[1]
                        Roman devrime öncülük eden yıllar boyunca soylular tarafından ezilen fransız köylüsünün durumunu, buna karşılık devrimin ilk yıllarında soylulara yönelik vahşeti ve
                        Londra'daki hayat üzerinden aynı dönemdeki toplumlar arasındaki benzerlikleri betimler. Bu olaylarla birlikte birkaç karakterin hayatı da anlatılır. Charles Darnay ve
                        Sydney Carton en önemli karakterlerdir. Darnay erdemli kişiliğine rağmen devrimin gazabına rastgele kurban seçilen eski bir Fransız aristokrattır. Carton ise Darnay'in
                        eşine duyduğu karşılıksız aşk dışında boşa geçirdiği hayatını kurtarmak için çabalayan harcanmış bir avukattır. 45 bölümlük roman Dickens'ın All the Year Round isimli edebiyat dergisinde 31 haftada yayınlandı.
                    </p>

                </div>

                <div class="col-md-4 col-sm-4 text-center">
                    <h4>AŞK VE GURUR</h4>
                    <img src="~/Resources/17.jpg" alt="" />
                    <p>
                        Aşk ve Gurur (özgün ismiyle Pride & Prejudice), Joe Wright tarafından yönetilen, Jane Austen'ın 1813'te yayımlanan Gurur ve Önyargı kitabından uyarlanan, 2005 yapımı romantik
                        dram filmi. Film toprak sahibi seçkinlerinden olan bir İngiliz ailesindeki beş kız kardeşin evlilik, ahlak ve kavram yanılgılarının sorunları ile uğraşmasını konu alıyor.
                        Keira Knightley başrolde yer alarak Elizabeth Bennet karakterini canlandırırken ona Bennet'in romantik ilişkisi Fitzwilliam Darcy rolünde Matthew Macfadyen eşlik ediyor.
                        StudioCanal ile birlikte Working Title Films tarafından üretilen film, Birleşik Krallık ve İrlanda'da 16 Eylül 2005 tarihinde, Amerika Birleşik Devletleri'nde 11 Kasım'da gösterime girdi.
                    </p>
                </div>

                <div class="col-md-4 col-sm-4 text-center">
                    <h4>AÇLIK</h4>
                    <img src="~/Resources/18.jpg" alt="" />
                    <p>
                        Açlık (Norveççe: Sult), Norveçli yazar Knut Hamsun tarafından kaleme alınmış ve 1890 yılında ilk baskısı yapılmış bir romandır.
                        Roman, 20. yüzyılın edebi açılışı olarak görülmekle beraber, modern ve psikolojik sürükleyici edebiyatın en önemli örneklerinden biri olarak
                        kabul edilmektedir. Karmaşa halindeki insan zihninin mantıksızlığını kimi zaman duygusal kimi zamansa espirili bir dille yansıtmaktadır.
                        Bu roman ölmek pahasına olsa bile alın teri dökmediğin parayı kabul etmemeyi anlatmaktadır.
                        Roman, Türkçeye ilk kez 1934 yılında Peyami Safa tarafından çevrilip, Resimli Ay Matbaası tarafından basılmıştır.
                    </p>
                </div>

                <div class="col-md-4 col-sm-4 text-center">
                    <h4>BABALAR VE OĞULAR</h4>
                    <img src="~/Resources/19.jpg" alt="" />
                    <p>
                        Babalar ve Oğullar, Rus Edebiyatı’nın tam anlamıyla yazılmış ilk modern roman örneği olarak kabul edilebilir (Bir diğeri Gogol'un Ölü Canlar
                        isimli eseridir fakat bu eser zaman zaman şiirsel veya Dante'nin İlahi Komedya’ sında ki gibi destansı nesir olarak kabul edilmiştir). Roman,
                        Bazarov’un ve Arkadi’nin duygusalığa başkaldırılarındaki aşamalı çöküntülerinde ve özellikle Bazarov’un Mamade Odintsova’ya ve Fenichka’ya olan aşkında
                        görüleceği gibi çift karakter çalışması ortaya koymaktadır. Tolstoy ve Dostoyevski’nin romanlarında açıkça taklit edildiği gibi bu göze çarpan karakter
                        ikilemi ve derin psikolojik tahliller birçok büyük Rus romancının yetişmesinde etki göstermiştir.
                    </p>
                </div>

                <div class="col-md-4 col-sm-4 text-center">
                    <h4>GAZAP ÜZÜMLERİ</h4>
                    <img src="~/Resources/20.jpg" alt="" />
                    <p>
                        Gazap Üzümleri (İngilizce: The Grapes of Wrath), John Steinbeck'in yazdığı roman. Steinbeck, 1939 yılında yayınladığı eseriyle Pulitzer Ödülü'nü kazanmıştır.
                        Bu romanında yazar, Amerika'da 1930'lu yılların ekonomik kriz dönemlerini, insanlığın dramını etkileyici bir dille anlatmaktadır. Joad ailesinin özelinden,
                        genele yansıyan bakış açısıyla emekçi insanları konu alan kitap, dünyanın önde gelen ve en çok okunan klasiklerinden biridir.
                        1929 Dünya Ekonomik Bunalımı, aslında Amerika'da başlamıştır. Küçük toprak sahiplerinin bankalar ve tüccarlar tarafından aldatıldığı, insanların kuraklık, yoksulluk,
                        zorbalık veya sadece açlık yüzünden evlerini terk etmek zorunda kaldığı ve 1930'larda 3 milyon insanın Kaliforniya'ya yeni bir yaşama başlamak için yerleştiği zor yıllarda,
                        bireysel ailenin parçalanışı anlatılırken aynı zamanda bütün göçmenlerin de tek bir aile haline gelişi vurgulanmaktadır.
                    </p>
                </div>

                <div class="col-md-4 col-sm-4 text-center">
                    <h4>ANNA KARENİNA</h4>
                    <img src="~/Resources/21.jpg" alt="" />
                    <p>
                        Anna Karenina (Rusça: Анна Каренина; ˈanə kɐˈrʲenʲɪnə), (Bazen Anna Karenin olarak ingilizceleştirilir)[1] Lev Tolstoy tarafından yazılmış, Rus Habercisi'nin 1873-1877 yılları
                        arasındaki döneminde, bölümler halinde basılmış romandır. 125 farklı yazarın belirlediği bir listede zamanımıza kadar yazılmış en iyi roman olarak görülmüştür.
                        Eser, 1870'lerin Rusya'sında, toplumun üst sınıfına mensup kimseler arasında yaşanan birbirinden bağımsız iki aşk macerasını anlatır. Olaylar Moskova'da, Petersburg'da ve asilzadelerin
                        yazlık malikanelerinde geçer. Romanda dürüst bir evliliğin mutluluğu ile yasak bir ilişkinin düş kırıklıkları karşılaştırılır; sadakat, tutku, kıskançlık gibi temalar işlenir; bir yandan
                        da o dönemde Rusya’da kadınların durumu, eğitim reformu gibi konular dile getirilir.Romanın baş karakteri Anna Karenina, Rus aristokrasisine mensup şık ve güzel bir kadındır.
                    </p>
                </div>
                
                <div class="col-md-4 col-sm-4 text-center">
                    <h4>DAVA</h4>
                    <img src="~/Resources/22.jpg" alt="" />
                    <p>
                        Dava, bir hakkın, devlet kanalıyla devletin organları olan mahkemeler vasıtasıyla kullanılmasıdır. Dava; asli (başlıbaşına bir iddia olup, başka bir davayla ilgisi bulunmayan)
                        ve feri (asıl davanın teferruatından olarak, diğer bir şey hakkında hüküm verilmesinin istenilmesi) olur. İhtilaflı ve ihtilafsız veya ceza davası, hukuk davası, idari dava, amme
                        (kamu) davası, şahsi dava olarak da tarif edilir. Tek başına dava sözcüğü, sıklıkla hukuk davalarını işaret eder.
                        Hukuk davaları: edim davaları, tespit davaları, yenilik doğuran olmak üzere üçe ayrılır: Hak sahibinin, bir şeyin yapılmasını veya yapılmamasını, yani bir ediminin yerine getirilmesini
                        istediği davalara edim davaları denir. Mahkemelerdeki davaların çoğu bu çeşittir. Alacak davaları, tazminat davaları gibi. Bir hukuki bağın var olup olmadığının tespit edildiği davalara
                        tespit davaları denir. Delil tespiti, evlilik dışı çocukların neseplerinin tespiti gibi.
                        Mahkeme gününe kadar var olmayan ve yahut hakimin kararı olmadan var olmayacak olan hukuki sonuçları meydana getiren davalara yenilik doğuran davalar denir. Boşanma davaları gibi.
                    </p>
                </div>

                <div class="col-md-4 col-sm-4 text-center">
                    <h4>NOTRE DAME'IN KAMBURU</h4>
                    <img src="~/Resources/23.jpg" alt="" />
                    <p>
                        Notre Dame'ın Kamburu (orijinal ismi: Notre Dame de Paris), Victor Hugo'nun 1831 yılında yayınlanan ve Fransa’da krallık döneminin karanlık günlerinden kesitler sunan romanıdır. 
                        Romanın tamamlanması yaklaşık 6 ay sürmüştür. Okunması gereken evrenselleşmiş ve dünya klasiklerinin başyapıtlardandır. Notre Dame'ın Kamburu, Hugo'nun en parlak dönemlerinden birinde yayımlandı.
                         1831'de yayımlanan Notre Dame de Paris'in roman kahramanlarından biri öylesine etkili oldu ki Notre Dame'ın Kamburu adıyla tanındı. Victor Hugo bu romanda insanların yaşamında kaderin yerini ve yoksulluğun insanı 
                        köreltmediğini ortaya çıkarmıştır. Roman hem yazarın ülkesinde hem de dış ülkelerde oldukça sevilmiştir. Çoğu dillerde çevirimleri yayınlanmış, ayrıca filmi de çekilmiştir.
                        </p>
                    </div>
                </div>
            </div>
        </div>
</section>

<!--END PROJECTS SECTION-->
<div class="container">
    <div class="row text-center">
        <span class="line-sep ">
         
        </span>
    </div>
</div>



<!--END ABOUT SECTION-->
<div class="container">
    <div class="row text-center">
        <span class="line-sep ">
            ----------X------------X----------X-------------
        </span>
    </div>
</div>
<!--CONTACT SECTION-->
<section id="contact">
    <div class="container">
        <div class="row text-center">
            <div class="text-center">
                <div class="col-md-6 col-sm-6">
                    
                </div>
                <div class="col-md-6 col-sm-6 alert-danger">

                    @*<h4>KAYDOL</h4>

                    <p>
                       
                            <strong> Adres: </strong> &nbsp;Web sitesi üzerinden onlinedır.
                            <br>

                    </p>
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="form-group">
                                <input type="text" class="form-control" required="required" placeholder="İsim">
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="form-group">
                                <input type="text" class="form-control" required="required" placeholder="Email adres">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="form-group">
                                <textarea name="message" id="message" required="required" class="form-control" rows="3" placeholder="Mesaj"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-danger">İstek Gönder</button>
                            </div>
                        </div>
                    </div>


    <h4>ÜYE GİRİŞİ</h4>

    <p>
        <strong> Adres: </strong> &nbsp;Web sitesi üzerinden onlinedır.
        <br>

    </p>
    <div class="row">
        <div class="col-md-6 ">
            <div class="form-group">
                <input type="text" class="form-control" required="required" placeholder="İsim">
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="form-group">
                <input type="text" class="form-control" required="required" placeholder="Email adres">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 ">
            <div class="form-group">
                <textarea name="message" id="message" required="required" class="form-control" rows="3" placeholder="Mesaj"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-danger">İstek Gönder</button>
            </div>
        </div>
    </div>


    </div>*@

 </div>
    </div>
    </div>
    </div>
</section>
<!--END CONTACT SECTION-->
<!--FOOTER SECTION -->
<div id="footer">
    2016 | All Right Reserved

</div>
<!-- END FOOTER SECTION -->
<!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
<!-- CORE JQUERY  -->
<script src="assets/plugins/jquery-1.10.2.js"></script>
<!-- BOOTSTRAP CORE SCRIPT   -->
<script src="assets/plugins/bootstrap.min.js"></script>
<!-- CUSTOM SCRIPTS -->
<script src="assets/js/custom.js"></script>

